@font-face {
  font-family: farro-light;
  src: url(../public/fonts/Farro-Light.ttf);
}
@font-face {
  font-family: farro-regular;
  src: url(../public/fonts/Farro-Regular.ttf);
}
@font-face {
  font-family: farro-medium;
  src: url(../public/fonts/Farro-Medium.ttf);
}
@font-face {
  font-family: farro-bold;
  src: url(../public/fonts/Farro-Bold.ttf);
}

* {
  box-sizing: border-box;
  font-family: farro-regular;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  height: 100%;
}
/* .container {
  margin: 0 auto;
  height: 100%;
  width: 100%;
} */

.gray-background {
  background-color: #f0f8ff;
}

/* Start of login */
.login-container {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f8ff;
}

/* .login-layout {
  flex-basis: 50%;
} */

.login-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 50%;
  font-family: farro-regular;
}

.login-label-input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-input {
  width: 350px;
  padding: 16px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: -5px 5px 10px 2px #c1c8e4;
}

.login-button {
  font-family: farro-bold;
  font-size: 16px;
  width: 350px;
  background-color: #5680e9;
  padding: 16px 20px;
  color: white;
  border: none;
  border-radius: 5px;
}

.login-layout-logo {
  width: 50%;
}

.login-logo-container {
  display: flex;
  justify-content: center;
}

.login-logo {
  width: 350px;
  height: 350px;
}

.login-input-label {
  text-align: left;
}

@media (max-width: 400px) {
  .login-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  .login-input-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 24px;
    width: 100%;
    height: 60%;
  }

  .login-layout-logo {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: 40%;
  }

  .login-logo {
    width: 200px;
    height: 200px;
  }
  .login-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-label-input-container {
    font-size: 14px;
  }

  .login-input {
    outline: none;
  }
  /* .login-layout{
    display: flex;
    align-items: center;
  } */
}
/* End of login */

/* Start of Navigation Bar*/
.nav-bar-icon-container {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 24px;
  padding: 12px 0px;
  background-color: #5680e9;
  overflow-y: auto;
}

.nav-bar-icon {
  height: 48px;
  width: 48px;
}
/* End of Navigation Bar*/

/* Start of Dashboard*/
.dashboard-container {
  width: 100%;
  height: 100vh;
}
/* End of Dashboard*/

/* Start of Expense List*/
.expense-list-container {
  padding: 24px;
}
.expense-list-header {
  font-family: farro-bold;
}
/* End of Expense List*/
