@font-face {
  font-family: farro-regular;
  src: url(../public/fonts/Farro-Regular.ttf);
}

* {
  box-sizing: border-box;
  font-family: farro-regular;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  height: 100%;
}

/*Start of Fonts*/
.font-bold {
  font-weight: 900;
}
/*End of Fonts*/

/* Start of Font Colors*/
.font-red {
  color: #ff3333;
}
.font-green {
  color: #009e60;
}
/* End of Font Colors*/

/*Start of Text Align*/
.text-left {
  text-align: left;
}
/*End of Text Align*/

.gray-background {
  background-color: #f0f8ff;
}

/* Start of login */
.login-container {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f8ff;
}

.login-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 50%;
  font-family: farro-regular;
}

.login-label-input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-input {
  width: 350px;
  padding: 16px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: -5px 5px 10px 2px #c1c8e4;
}

.login-button {
  font-family: farro-bold;
  font-size: 16px;
  width: 350px;
  background-color: #5680e9;
  padding: 16px 20px;
  color: white;
  border: none;
  border-radius: 5px;
}

.login-layout-logo {
  width: 50%;
}

.login-logo-container {
  display: flex;
  justify-content: center;
}

.login-logo {
  width: 350px;
  height: 350px;
}

.login-input-label {
  text-align: left;
}

@media (max-width: 720px) {
  .login-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  .login-input-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 24px;
    width: 100%;
    height: 60%;
  }

  .login-layout-logo {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: 40%;
  }

  .login-logo {
    width: 200px;
    height: 200px;
  }
  .login-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-label-input-container {
    font-size: 14px;
  }

  .login-input {
    outline: none;
  }
}
/* End of login */

/* Start of Navigation Bar*/
.nav-bar-container {
  background-color: #5680e9;
}

.nav-welcome-user {
  padding: 20px 0px 50px 20px;
  font-weight: 900;
  font-size: 32px;
  border-bottom: 4px solid #ffffff;
}

.nav-bar-icon-container {
  position: unset;
  left: 0;
  top: 0;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 250px;
  background-color: #5680e9;
  overflow-y: auto;
  font-size: 16px;
  font-family: ferro-medium;
}

.nav-bar-icon {
  height: 48px;
  width: 48px;
}

.nav-icon-content {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 10px 16px;
}

.nav-bar-selected {
  background-color: #c1c8e4;
}

@media (max-width: 720px) {
  .nav-bar-icon-container {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: center;
    gap: unset;
    background-color: #5680e9;
    overflow-y: auto;
    top: auto;
    left: auto;
    font-size: 12px;
  }

  .nav-icon-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 0px;
  }
  .nav-bar-icon {
    height: 36px;
    width: 36px;
  }

  .nav-welcome-user {
    display: none;
  }
}
/* End of Navigation Bar*/

/* Start of Dashboard*/
.dashboard-container {
  width: 100%;
  height: 100vh;
  display: flex;
}

@media (max-width: 720px) {
  .dashboard-container {
    width: 100%;
    height: 100vh;
    display: block;
  }
}
/* End of Dashboard*/

/* Start of Expense List*/
.expense-list-container {
  padding: 32px 64px;
  width: 100%;
  font-size: 16px;
}

.expense-list-header {
  display: flex;
  gap: 32px;
  font-size: 32px;
  margin-bottom: 32px;
}

.expense-list-header-mobile {
  display: none;
}

.expense-list-card {
  width: 100%;
  background-color: #c1c8e4;
  border-radius: 8px;
  margin-bottom: 24px;
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expense-list-card-serial {
  width: 10%;
}

.expense-list-card-name {
  width: 50%;
}

.expense-list-card-amount {
  width: 30%;
  text-align: right;
}
.expense-list-card-continue {
  width: 10%;
  text-align: right;
}
.expense-list-right-arrow {
  height: 24px;
  width: 24px;
}

@media (max-width: 720px) {
  .expense-list-container {
    padding: 32px 16px;
    font-size: 12px;
  }
  .expense-list-header {
    font-size: 20px;
    gap: unset;
    justify-content: space-between;
  }
  .expense-list-header-mobile {
    display: block;
    padding: 32px 16px 0px 16px;
    font-size: 24px;
    font-weight: 900;
  }
}
/* End of Expense List*/

/* Start of Add Expenses*/
.add-expenses-container {
  padding: 100px 64px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.add-expenses-default-items {
  display: flex;
  flex-direction: column;
}

.add-expenses-type-category,
.add-expense-description,
.add-expense-category-date,
.add-expense-search-friend-amount {
  display: flex;
  margin-top: 24px;
  gap: 32px;
}

.add-expense-category-block {
  position: relative;
}

.add-expense-amount-block,
.add-expense-type-block,
.add-expense-category-block,
.add-expense-date-block,
.add-expense-search-friend,
.add-expense-description-block {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 16px;
}

/* .add-expense-description-block{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
} */

.add-expense-input-container {
  position: relative;
}

.add-expense-amount-input,
.add-expense-type-input,
.add-expense-description-input,
.add-expense-category-input,
.add-expense-date-input,
.add-expense-search-friend-input {
  height: 32px;
  border: none;
  border-radius: 5px;
  padding: 0px 10px;
  box-shadow: -1px 1px 10px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.add-expense-description-input {
  resize: none;
}

.add-expense-submit-block {
  margin-top: 32px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.add-expense-submit-button {
  border: none;
  background-color: #5680e9;
  max-width: 345px;
  width: 100%;
  padding: 16px 20px;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 900;
}

.add-expense-selected-friend-view {
  background-color: #c1c8e4;
  border-radius: 5px;
  display: flex;
  padding: 8px 20px;
  box-shadow: -1px 1px 10px 5px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  align-items: center;
}

.add-expense-clear-friend {
  font-weight: 900;
  cursor: pointer;
}

.add-expense-selected-friend-name {
  display: flex;
  gap: 24px;
}

@media (max-width: 720px) {
  .add-expenses-container {
    padding: 16px 16px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .add-expenses-type-category,
  .add-expense-description,
  .add-expense-category-date,
  .add-expense-search-friend-amount {
    flex-direction: column;
  }

  .add-expense-amount-block,
  .add-expense-type-block,
  .add-expense-category-block,
  .add-expense-date-block,
  .add-expense-search-friend,
  .add-expense-description-block {
    width: 100%;
  }

  .add-expense-description-input {
    height: 64px;
    padding: 8px 4px 8px 4px;
  }
}
/* End of Add Expenses*/

/* Start of Expense Name Suggestion*/
.friend-list-container {
  position: absolute;
  top: 80;
  background-color: #c1c8e4;
  width: 100%;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  z-index: 2;
}

.friend-list-name-container {
  display: flex;
  justify-content: space-between;
  height: 32px;
  padding: 0px 28px;
  align-items: center;
}
.friend-list-name-container:hover {
  background-color: #5680e9;
  cursor: pointer;
}

/* End of Expense Name Suggestion*/

/* Start of Dropdown */
.dropdown-container {
  position: absolute;
  background-color: #c1c8e4;
  width: 100%;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  z-index: 2;
}

.dropdown-list {
  display: flex;
  justify-content: space-between;
  height: 32px;
  padding: 0px 28px;
  align-items: center;
}

.dropdown-list-selected {
  background-color: #5680e9;
  cursor: pointer;
}
/* End of Dropdown */
